{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <h3>Add expenses</h3>
            <form method="post" action="{% url 'home' %}">
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $(function () {
                $('.datepicker').datetimepicker(
                    {
                        format: 'YYYY-MM-DD',
                        sideBySide: true
                    }
                );
            });

            $('select[name=category]').append($('<option>', {
                value: 1,
                text: 'Add new category'
            })).change(function(){
                if($(this).val() == 1){
                  window.location.href = "{% url 'new_category' %}"
                }});
        })
    </script>
{% endblock %}
