{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            {% if category %}
                <h3>Update category</h3>
                <form method="post" action="/category_editor/{{ category.id }}/">
                    {% crispy form %}
                </form>
            {% else %}
                <h3>Add new category</h3>
                <form method="post" action="/category_editor/new_category/">
                    {% crispy form %}
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
