{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h3>Update entry</h3>
            <form method="post" action="/update_entry/{{ entry.id }}/">
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $(function () {
                $('.datepicker').datetimepicker(
                    {
                        format: 'YYYY-MM-DD',
                        sideBySide: true
                    }
                );
            });
        });
    </script>
{% endblock %}
